html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(255, 255, 255);
}

.titles{
    color: rgb(0, 0, 0);
    font-family: "Open Sans";
    text-align: center;
}

p{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: oxanium;
}

.container{
    display: flex;
    padding: 0 50px;
    margin-bottom: 50px;
}

.lead{
    font-size: 20px;
    margin-left: 40px;
}

#dorks{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.photo{
    width: 30%;
    height: 30%;
    object-fit: cover;
    border-radius: 20px;
    border: 1px;
    border-style: solid;
    transition: transform 0.3s ease;
}

.photo:hover{
    transform: scale(1.1)
}

.container p{
    flex: 1;
    min-width: 0;
}

footer p{
    float: left;
}

.navigation ul{
    list-style-type: none;
    padding: 0 20px;
    margin: 0px;
    display: flex;
    justify-content: center;
}

.navigation button{
    display: block;
    border: 1px;
    border-style: solid;
    background-color: white;
    padding: 15px;
    cursor: pointer;
    transition: transform 0.2s ease;
    transition-property: color 0.2s ease;
    width: 100px;
}

.navigation button:hover{
    background-color: rgb(53, 53, 53);
    color: white;
    transform: scale(1.10);
}

#freeRobux{
    top: 70%;
    left: 4%;
    position: absolute;
    cursor: pointer;
    transition: top 0.3s, left 0.3s;
    z-index: 1;
    padding: 15px;
    background-color: green;
    border: 1px;
    border-color: black;
    border-style: solid;
}