body{
    background-color: black;
}

h1{
    color: white;
    font-family: "Open Sans";
    text-align: center;
}

p{
    color: white;
    text-align: center;
}

.container{
    display: flex;
    padding: 0 50px;
    margin-bottom: 50px;
}

.lead{
    font-size: 20px;
}

#dorks{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.photo {
    width: 20%;
    height: 20%;
    object-fit: cover;
    flex-shrink: 0;
    margin-right: 20px;
}

.container p{
    flex: 1;
    min-width: 0;
}